.container-fluid
%h2 Add bike
= form_tag bike_removed_page_path, :method => :post, :action => "destroy" do
	%h3 Bike:
	%br 
	= label :bike, :bike_id, 'id'
	= text_field :bike, :bike_id
	*
	=submit_tag "Delete", :controller => "bike", :action => "destroy", :method => "put", :class => "bike_removed"
%br
Note: This will COMPLETELY remove the bike from the system.
%br
%div
	-if flash[:error]
		=flash[:error]
%br 
%br 
%br 
