table, thead, tr, th, td {
    text-align:center;
    background-color: #00694e;
    border: 1px solid black;
    color: #ecf0f1;
    margin:auto;
}

.userTable{
    width: 1200px;
}

.userTableHeader{
    text-align:center;
}
.userTableDiv{
    margin:auto;
    width: 1200px;
}

.editButton{
    color: #00694e;
}

