body{
	padding: 20px;
}

.text {
        width: 500px;
        clear: both;
    }
.text input {
        width: 100%;
        clear: both;
    }

.register{
  visibility: hidden;
}

#terms:checked ~ .register{
  visibility: visible;
}
