//=stylesheet_link_tag "public/assets/stylesheets/accounts.css"
= render 'navbar'
%h1 MANAGE USERS
%p=flash[:notice]
%p=flash[:warning]
%div.userTableDiv
    %h2 User Table
    %table.user_table
        %thead
            %tr
                %th.userTableHeader BU ID
                %th.userTableHeader First Name
                %th.userTableHeader Last Name
                %th.userTableHeader pin
                %th.userTableHeader Access Level
                %th.userTableHeader email
                %th.userTableHeader Created
                %th.userTableHeader Updated
                %th.userTableHeader Edit
        %tbody
            - @users.each do |user|
                %tr
                    %td=user.bu_id
                    %td=user.first_name
                    %td=user.last_name
                    %td=user[:pin] # I have no idea why the format for this has to be different
                    %td=text_access_level(user.access_level)
                    %td=user.email
                    %td=user.created_at
                    %td=user.updated_at
                    %td.editButton=button_to "Edit", manage_account_page_path(user.id), :method => :get
    =button_to "Add New User" #link to new user creation
