%h1 Edit User
= form_tag update_user_path(@user), :method => :put do
  =label :user, :bu_id, "BU ID #: "
  =text_field :user, 'bu_id'
  %br
  =label :user, :pin, "Pin #: "
  =text_field :user, 'pin'
  %br
  =label :user, :first_name, "First Name: "
  =text_field :user, 'first_name'
  %br
  =label :user, :last_name, "Last Name: "
  =text_field :user, 'last_name'
  %br
  =label :user, :email, "Email: "
  =text_field :user, 'email'
  %br
  =label :user, :access_level, "Access Level: "
  =select(:user,:access_level, options_for_select([['Administrator', 1],['Mechanic', 2],['User', 3]], @user.access_level))
  %br
  =label :user, :created_at, "Created On: #{@user.created_at}"
  %br
  =label :user, :updated_at, "Updated On: #{@user.updated_at}"
  %br
  = submit_tag 'Update User Info'
